#dwtcontrolContainer {
    width: 94vw;
    height: 64vh;
    margin: auto;
}

.document-scanner {
    text-align: center; 
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    width: 130px;
    margin: 20px;
}