<h2>Examples</h2>

<div *ngFor="let product of products">
  <h3>
    <div>
      <ng-template [ngIf]="product.id === 'scanner-capture'">
        <a [title]="product.name + ' details'" [routerLink]="['/scanner-capture']">>
          {{ product.name }}
        </a>
      </ng-template>
      <ng-template [ngIf]="product.id === 'camera-capture'">
        <a [title]="product.name + ' details'" [routerLink]="['/camera-capture']">>
          {{ product.name }}
        </a>
      </ng-template>
      <ng-template [ngIf]="product.id === 'document-scanner'">
        <a [title]="product.name + ' details'" [routerLink]="['/document-scanner']">>
          {{ product.name }}
        </a>
      </ng-template>
    </div>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->